@using warehouseserver.Services
@using warehouseserver.Models
@using Microsoft.AspNetCore.Components.Forms
@inject DonViTinhService DonViTinhService
@inject SanPhamService SanPhamService

<EditForm Model="@SanPham" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="ma_sp">Mã SP</label>
        <InputText id="ma_sp"
                   @bind-Value=SanPham.MaSP
                   class="form-control" />
        <ValidationMessage For="@(() => SanPham.MaSP)" class="text-danger" />
    </div>
    <div class="form-group">
        <label for="ten_sp">Tên Sản Phẩm</label>
        <InputText id="ten_sp"
                   @bind-Value=SanPham.TenSP
                   class="form-control" />
        <ValidationMessage For="@(() => SanPham.TenSP)" class="text-danger" />
    </div>
    <div class="form-group">
        <label for="loaisanpham">Loại Sản Phẩm</label>
        <InputText id="loaisanpham"
                   @bind-Value=SanPham.TenLSP
                   class="form-control" />
        <ValidationMessage For="@(() => SanPham.TenSP)" class="text-danger" />
    </div>
    <div class="form-group">
        <label for="donvitinh">Đơn Vị Tính</label>
        <InputText id="donvitinh"
                   @bind-Value=SanPham.TenDonViTinh
                   class="form-control" />
        <ValidationMessage For="@(() => SanPham.TenDonViTinh)" class="text-danger" />
    </div>


    <button type="submit" class="btn btn-primary">Lưu</button>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public EventCallback OnSuccess { get; set; }

    private SanPham SanPham = new SanPham();

    protected override async Task OnParametersSetAsync()
    {
        SanPham = await SanPhamService.GetSanPhamById(Id);
    }

    private async Task HandleValidSubmit()
    {
        if (SanPham != null)
        {
            var success = await SanPhamService.UpdateSanPham(SanPham);
            if (success)
            {
                await OnSuccess.InvokeAsync();
            }
            else
            {
                Console.WriteLine("Cập nhật thất bại!");
            }
        }
    }
}
